[Unit]
Description=Aiy Node

[Service]
User=aiy
WorkingDirectory=/opt/aiy/
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info,aiy_core=debug,narwhal=debug,consensus=debug,jsonrpsee=error
ExecStart=/opt/aiy/bin/aiy-node --config-path /opt/aiy/config/validator.yaml
Restart=always

[Install]
WantedBy=multi-user.target
